
body{
    font-family: 'Passions Conflict', cursive;
    font-size: 35px;
    background: rgba(211, 106, 9, 0.849);
    text-align: center;
    padding: 0px;

}
main{
    margin: 0px auto;
    width: 70%;
    height: 100%;
    background: rgb(79, 187, 102);
    border: green dashed 2px;
    padding-bottom: 20px;
}
button{
height: 50px;
border: black solid 2px;
border-radius: 10px;
background-color: rgb(180, 13, 185);
color: black;
font-weight: bold;
}
button:hover{
background:  blueviolet;
}
button:active{
transform: scale(1.1);
}
img:active{
    transform: scale(1.06);
}